<br>

<hr>

<mat-progress-bar mode="buffer" color="primary"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
<mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
<mat-progress-bar mode="query" color="accent"></mat-progress-bar>
<mat-progress-bar mode="buffer" color="accent"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>

<br>

<address id="html-body-footer-address">
    <p>GITHub : https://github.com/jozef-javorsky-dodo</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e-mail : jozef.javorsky.dodo@gmail.com</p>
</address>